/* 
    ESTILOS PARA HACER QUE EL JUEGO FUNCIONE
*/
/* Importamos la fuente que vamos a utilizar para los textos */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
:root
{
    /* Variables con los putos que valen las dianas y las extra en número y en string */
    --puntos-diana: 1;
    --puntos-diana-str: '1';
    --puntos-diana-extra: 3;
    --puntos-diana-extra-str: '3';
    /* Inicializar el contador a 0 */
    counter-reset: puntos;
    /* Declaramos los colores que vamos a utilizar */
    --bg-color: blue;
    --text-color: white;
    --accent-color: lime;
    /* Variables para dar estilo para las dianas */
    --diana-size: 7rem;
    --diana-sombra-size: 1rem;
    --diana-total-size: calc(var(--diana-size) + var(--diana-sombra-size) * 2);
    --color-diana: red;
    --color-diana-extra: gold;
    /* Variables para la animación de las dianas */
    --total-dianas: 8;
    --duracion-animacion-diana: 2.5s;
    --retraso-puntos: calc(var(--duracion-animacion-diana) * var(--total-dianas));
    /* Definimos un cursor personalizado */
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 86" width="42" height="42"><path d="M42.998 0C19.252 0 0 19.252 0 43c0 23.749 19.252 43 42.998 43C66.748 86 86 66.749 86 43 86 19.252 66.748 0 42.998 0zM46.5 77.825V58.5h-7.002v19.325C22.965 76.184 9.818 63.035 8.176 46.5H27.5v-7.002H8.176C9.818 22.964 22.965 9.816 39.498 8.175V27.5H46.5V8.175c16.537 1.642 29.684 14.79 31.326 31.323H58.5V46.5h19.326C76.184 63.035 63.037 76.182 46.5 77.825z" fill="%2353FF45"/></svg>') 21 21, crosshair;
}

*,
*:before,
*:after
{
    box-sizing: border-box;  
    /* Hacemos que todos los elementos hereden el cursor personalizado */
    cursor: inherit;
}

/* Ocultamos los checkbox */
.input-diana 
{
    opacity: 0;
    position: absolute;
    left: -99999px;
}

/* Sumamos 1 al total de puntos al hacer check en una diana */
.input-diana:checked
{
    counter-increment: puntos var(--puntos-diana);
}

/* Evitamos que una diana marcada se desmarque */
.input-diana:checked + .diana
{
    pointer-events: none;
    /* Cuando se hace clic en la diana se pausa la animación */
    animation-play-state: paused;
}

/* Al hacer clic en la diana cambiamos el color del gradiente a gris, hacemos que desaparezca
   y disminuimos un poco su tamaño usando una animación */
.input-diana:checked + .diana:before
{
    --color: grey;
    animation: ocultar-diana 0.8s ease-in-out forwards;
}

/* Añadimos una animación para que muetre la puntuación al hacer clic */
.input-diana:checked + .diana:after
{
    animation: muestra-puntos 1.5s forwards;
}

/* Sumamos 3 al hacer check en la diana extra */
.input-diana.extra:checked
{
    counter-increment: puntos var(--puntos-diana-extra);
}

/* Posicionamos las dianas de forma relativa */
.diana
{
    --puntos: var(--puntos-diana);
    /* Posicionamos las dianas fuera de vista por arriba */
    position: absolute;
    top: calc(-1 * var(--diana-total-size));
    /* Propiedades de la animación */
    animation-name: movimiento-diana;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: var(--duracion-animacion-diana);
    animation-delay: calc(var(--duracion-animacion-diana) * (var(--index) - 1));
}

/* Damos estilo a la diana */
.diana:before
{
    /* Le indicamos el color */
    --color: var(--color-diana);
    content: "";
    display: block;
    /* Definimos el tamaño de las dianas */
    width: var(--diana-size);
    height: var(--diana-size);
    /* Hacemos que sea circular */
    border-radius: 50%;
    /* Utilizamos un gradiente para que parezca una diana */
    background-image: radial-gradient(
        closest-side, 
        var(--color) 20%, 
        white 0, 
        white 40%, 
        var(--color) 0, 
        var(--color) 60%,
        white 0, 
        white 80%,
        var(--color) 0
    );
    box-shadow: 4px 4px var(--diana-sombra-size) rgba(0, 0, 0, 0.4);
}

/* Mostramos la puntuación detrás de cada diana */
.diana:after
{
    /* Variable con los puntos que tenemos que mostrar */
    --puntos-str: var(--puntos-diana-str);
    /* Mostramos los puntos */
    content: "+" var(--puntos-str);
    /* Hacemos que los puntos estén en el centro de la diana */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Le añadimos la sombra */
    text-shadow: 2px 2px 0 var(--accent-color);
    font-size: 1.7rem;
    opacity: 0;
}

/* Indicamos la posición horizontal para cada diana */
.diana:nth-of-type(1)
{
    --index: 1;
    left: 70%;
}

.diana:nth-of-type(2)
{
    --index: 2;
    left: 25%;
}

.diana:nth-of-type(3)
{
    --index: 3;
    left: 30%;
}

.diana:nth-of-type(4)
{
    --index: 4;
    left: 90%;
}

.diana:nth-of-type(5)
{
    --index: 5;
    left: 50%;
}

.diana:nth-of-type(6)
{
    --index: 6;
    left: 80%;
}

.diana:nth-of-type(7)
{
    --index: 7;
    left: 10%;
}

.diana:nth-of-type(8)
{
    --index: 8;
    left: 65%;
}

.diana.extra
{
    --puntos: var(--puntos-diana-extra);
}

/* Para la diana extra usamos su color */
.diana.extra:before 
{
    --color: var(--color-diana-extra)
}

/* Para la diana extra solo hay que cambiar el valor de la variable */
.diana.extra:after
{
    --puntos-str: var(--puntos-diana-extra-str);
}

/* Mostramos la puntuación */
#puntos:before
{
    content: counter(puntos);
}

/* 
    ESTILOS PARA QUE SE VEA "BONITO"
*/
body
{
    /* Evitamos que se vea el scroll */
    overflow: hidden;
    /* Damos estilo a la fuente */
    font-family: 'Press Start 2P', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    /* Evitamos que se puedan seleccionar objetos */
    user-select: none;
}

.diana
{
    margin: 0 20px 20px 0;
}

#puntos
{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    /* Lo ponemos en la parte baja de la pantalla */
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    /* Le cambiamos el color */
    color: var(--accent-color);
    /* Le añadimos sombra */
    text-shadow: 2px 2px 0 red;
    /* Permitimos que se haga clic en las dianas que pasan por debajo del marcador */
    pointer-events: none;
    /* Añadimos la animación de la puntuación */
    animation: puntos-final 0.5s ease-in-out var(--retraso-puntos) forwards;
}

@keyframes ocultar-diana
{
    12%
    {
        transform: scale(0.95);
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes muestra-puntos
{
    10%
    {
        transform: translate(-50%, calc(-50% - 3rem));
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes movimiento-diana
{
    100%
    {
        transform: translateY(calc(102vh + var(--diana-total-size)));
    }
}

@keyframes puntos-final
{
    100%
    {
        transform: translateY(calc(100% - 50vh)) scale(2.5);
    }
}